body{
    font-size: 60px;
    width: 100%;
}

.rs-tooltip-text {
    font-size: 80px;
    color: #e31010;
}

.rs-range-color {
    background-color: #e31010;
}

.rs-handle {
    background-color: #e31010;
    border-style: solid;
    border-color: white;
}

fieldset {
    /*display: inline-block;*/
}

.power{
    color: #e31010;
    font-size: 80px;
    text-align: center;
}
/*
.rs-inner-container{
    width: 300%;
    height: 300%;
}*/
/*
#temperature{
    width: 510px;
    height: 510px;
}*/