%(current_date)s
<dl>
    <dt>
        Status du poêle : %(status_label)s<br/>
        <div class="power">
            <button onclick="javascript:etteintPoele();" %(bouton_off)s>
                Éteindre le poêle
            </button>
            <button onclick="javascript:allumePoele();" %(bouton_on)s>
                Allumer le poêle
            </button>
        </div>
    </dt>
    <dt>
        Puissance du poêle :<br/>
        <div class="power">
            <button onclick="powerDown();">
                <img  width="70"src="images/minus.svg" class="filter-red"/>
            </button>
            &nbsp;<span id="power">%(power)s</span>&nbsp;
            <button onclick="powerUp();">
                <img width="70" src="images/plus.svg" class="filter-red"/>
            </button>
        </div>
    </dt>
    <dt>
        Température du poêle : %(temperature1)s
    </dt>
</dl>
<div class="container">
    <center>
        <div id="wanted_temperature" onchange="changeTemperature(this.lastChild.value)"></div>
    </center>
    <span id="wanted_temperature_value" style="display: none;">%(wanted_temperature)s</span>
</div>

<script language="javascript" type="text/javascript">
    $(document).ready(function(){
        $("#wanted_temperature").roundSlider({
            sliderType: "min-range",
            value: parseFloat(document.getElementById('wanted_temperature_value').innerHTML),
            min: 15,
            max: 25,
            step: 0.2,
            circleShape: "pie",
            width: 100,
            radius: 300,
            animation: false,
        });
    });
</script>